.logo {
  padding-top: 10px;
}
.btnUpdate {
  margin-left: 20px;
}
.btnLogout {
  width: 100px;
  margin-left: 1200px;
  margin-top: 10px;
}
.btnAdd {
  margin-bottom: 20px;
}
.titleForm {
  padding-left: 210px;
  font-size: 30px;
}
.inputForm {
  width: 500px;
  height: 30px;
  margin-left: 40px;
}
.titile1 {
  margin-left: 40px;
}
.searchI {
  width: 400px;
  padding-bottom: 15px;
}

.containerform {
  width: 400px;
  height: 400px;
}

.my-form-save {
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translate(-50%);
  top: 7%;
}
.select-position {
  margin-left: 40px;
  margin-right: 30px;
  /*   border-width: 1px;
  border-color: black;
  border-style: solid;
  border-radius: 5px; */
}
